<h1 align="center">To Do List</h1>

  <%= link_to "add item", new_todolist_path %>

  <table>
    <thead>
      <tr>
        <td>待辦事項</td>
        <td>預完日</td>
      </tr>
    </thead>
    <tbody>
      <% @todolists.each do |todolist| %>
      <tr>
        <td><%= todolists.item %></td>
        <td><%= todolists.finaldate %></td>
      </tr>
      <% end%>
    </tbody>
  </table>
